.basket {
  background-color: white;
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  transform: translateY(-100%);
  transition: transform 0.4s ease-in-out;
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  flex-direction: column;

  @include alert-on;

  @include mobile {
    width: 100%;
  }

  @include tablet {
    width: 100%;
  }

  /*   &:target {
    transform: translateY(0);
  } */

  &__close {
    position: absolute;
    top: 5px;
    right: 50px;

    &:hover {
      @include cross-animation;
    }
  }

  &__product-total {
    display: flex;
    flex-direction: column;
  }

  &__h2 {
    @include font-h3;

    padding: 20px 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__field {
    overflow: hidden;
    display: flex;
    place-content: center;
    width: 60px;
  }

  &__name {
    @include font-s3;
  }

  &__product-box {
    @include font-s3;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__img {
    display: block;
    width: 130px;
  }

  &__product {
    display: flex;
    gap: 10px 10px;
    justify-content: space-around;
    border: solid 1px $grey;
    box-sizing: border-box;
    padding: 15px;
    width: 80%;

    @include mobile {
      flex-direction: column;
      align-items: center;
    }

    @include tablet {
      flex-direction: row;
      justify-items: flex-end;
    }
  }

  &__plus {
    @include font-s4;
    @include icon-animation;
    @include large-icon-size;

    color: $white;
    background-color: $red;
    border: 0;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }

  &__minus {
    @include font-s4;
    @include icon-animation;
    @include large-icon-size;

    color: $white;
    background-color: $grey;
    border: 0;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }
  }
}

.cartON {
  transform: translateY(0);
  transition: transform 0.4s ease-in-out;
}

.noproducts {
  opacity: 0.3;
  cursor: default !important;
  transform: none !important;
}
